.buy__form {
    background-color: #8a00fc;
    padding: 5px 20px 15px 20px;
    border: 1px solid rgb(255, 251, 0);
    border-radius: 3px;
    width:700px;
    margin-left:30% ;
    color: white;
    h2 {
      text-align: center;
      padding: 5px 0;
    }
  
    input {
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 3px;
      font-size: 20px;
      padding: 8px;
    }
    label {
      margin-bottom: 10px;
      display: block;
      font-size: 18px;
    }
    button {
      background: linear-gradient(rgba(68, 0, 255, 0.64), rgba(200, 0, 255, 0)) rgb(255,0,177);
      color: white;
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-size: 17px;
      &:hover {
        background-color: rgb(0, 255, 179);
      }
    }
    .error {
      color: red;
      margin-bottom: 5px;
    }
  }